@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&family=Sedan+SC&display=swap');

body{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    padding: 3rem;
    background: linear-gradient(to right, rgb(247, 220, 111), rgb(133, 193, 233), rgb(241, 148, 138));
}

h1{
    font-family: "Sedan SC", serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

.contenedorImg1{
    max-width: 100%;
    overflow-x: auto; 
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contenedorImg1 img {
    border-radius: 10px;
    max-width: 30%; 
    max-height: 200px; 
    object-fit: cover;
  
}

.contenedorImg2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorImg2 img{
    width: 100%; 
    height: auto; 
    max-height: 300px; 
    object-fit: cover; 
    margin-bottom: 10px;
}
